/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  } */

  /* Estilos para o container da cena */
#canvas-container {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Painel de controle na lateral direita */
#control-panel {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 90vh;
    overflow-y: auto;
}

/* Menu */
.menu {
    margin-bottom: 10px;
}

button.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}

button.dropdown-btn:hover {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

/* Para manter os dropdowns abertos ao clicar */
.menu.active .dropdown-content {
    display: block;
}

/* Estilos dos inputs e selects */
input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
