*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body { margin: 0; font-family: Arial, sans-serif; }
  .container { display: flex; height: 100vh; }
  .sidebar { width: 250px; background-color: #f4f4f4; padding: 10px; display: flex; flex-direction: column; }
  .sidebar button, .sidebar select, .sidebar input { margin-bottom: 10px; }
  #scene-container { flex-grow: 1; background-color: #e0e0e0; position: relative; }
  .dropdown-content { display: none; flex-direction: column; }
  .dropdown.active .dropdown-content { display: flex; }
